.main-slider {
  width: 100%;
  margin-bottom: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 501px) and (max-width: 939px) {
    * {
      display: none;
    }
  }

  #main-slider {
    width: 100%;

    img {
      max-width: 100%;
    }
  }

  .swiper-custom-button-prev {
    margin-left: 30px;
  }

  .swiper-custom-button-next {
    margin-right: 30px;
  }
}