.navbar-custom {
  width: 100%;
  background-color: $secondary-color;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  z-index: 550;
  position: relative;

  @media screen and (max-width: 1199px) {
    padding-bottom: 0px;
    position: fixed;
  }

  .navbar-elements {
    width: calc(100% - 90px);
    height: 100px;
    max-width: 1600px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    position: relative;

    a.brand {
      img {
        height: 100%;
        max-height: 100px;
      }
    }

    a:focus {
      outline: 1px solid transparentize($accent-color, 0.8);
    }

    form.form-inline {
      width: 50%;
      position: relative;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-end;

      input[type="search"].form-control {
        width: 100%;
        position: relative;
        padding: 7px 20px;
        border-radius: 22px;
        font-size: 1rem;
        font-style: italic;
        font-weight: 400;
        color: #858585;
        letter-spacing: -0.01em;
        height: auto;
        border: none;
        transition: 150ms;

        &:focus {
          box-shadow: 0px 0px 0px 2px
            transparentize(lighten($accent-color, 25%), 0.4);
        }
      }

      button.search-button {
        position: absolute;
        right: 1px;
        height: calc(100% - 2px);
        border-radius: 0px 21px 21px 0px;
        border: none;
        background-color: white;
        padding: 0px 15px;
        outline: none;

        img {
          transition: 150ms;
        }

        &:hover,
        &:focus {
          img {
            filter: $png-color;
          }
        }
      }

      @media screen and (max-width: 1199px) {
        position: absolute;
        width: 92%;
        left: 4%;
        z-index: 0;
        top: calc((var(--vh, 1vh) * 50) - 55px);
        height: 0px;
        opacity: 0;
        overflow: hidden;
        transition: 150ms;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 4px 30px -4px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: space-between;

        .mobile-search-header {
          height: 35px;
          overflow: hidden;
          transition: 150ms;
          margin: 10px 15px 5px;
        }

        input[type="search"].form-control {
          height: 38px;
          overflow: hidden;
          transition: 150ms;
          opacity: 0;
          margin: 5px 15px 25px;
        }

        button.search-button {
          opacity: 0;
          overflow: hidden;
          height: 36px;
          transition: 150ms;
        }

        &.show {
          opacity: 1;
          height: 125px;

          .mobile-search-header {
            width: calc(100% - 30px);
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;
            position: relative;

            p.mobile-search-text {
              font-size: 1.125rem;
              font-weight: 500;
              color: #333;
            }

            .close-search {
              width: 24px;
              height: 24px;
              display: flex;
              flex-flow: column;
              align-items: center;
              justify-content: space-between;
              padding: 6px 4px;
              margin: 0px;
              border: none;
              background-color: transparent;
              position: absolute;
              top: 0;
              right: 0;
              outline: none;

              .stick {
                width: 100%;
                height: 2px;
                background-color: rgb(136, 136, 136);
                border-radius: 5px;
                transform-origin: left;

                &.top {
                  transform: rotate(39deg);
                }

                &.bottom {
                  transform: rotate(-39deg);
                }
              }
            }
          }

          input[type="search"].form-control {
            background-color: transparent;
            box-shadow: 0px 0px 0px 2px transparentize($accent-color, 0.5);
            color: #333;
            opacity: 1;
            transition: 150ms;
            padding-right: 58px;
            width: calc(100% - 30px);

            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
              display: none;
            }

            &:hover,
            &:focus {
              box-shadow: 0px 0px 0px 2px transparentize($accent-color, 0.4),
                0px 0px 0px 4px transparentize($accent-color, 0.8);
            }
          }

          button.search-button {
            position: absolute;
            right: calc(4% + 2px);
            background-color: white;
            bottom: 26px;
            box-shadow: -2px 0px 8px -3px rgba(0, 0, 0, 0.15);
            outline: none;
            opacity: 1;
          }
        }
      }
    }

    .icon-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      > * {
        margin-right: 40px;

        &:last-child {
          margin-right: 0px;
        }
      }

      .account {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;

        .icon {
          margin-right: 10px;
        }

        .text {
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          justify-content: center;

          p.account-text {
            font-size: 0.875rem;
            text-transform: uppercase;
            color: lighten($accent-color, 5%);
            letter-spacing: -0.02em;
            font-weight: 500;
          }

          .account-link {
            height: 1rem;
            display: flex;
            flex-flow: row;
            align-items: center;

            a,
            span {
              color: $main-text;
              font-size: 0.75rem;
              text-decoration: none;
              transition: 150ms;
            }

            span {
              margin: 0px 0.5ch;
            }
          }
        }
        &:hover,
        &:focus {
          .text {
            span {
              color: lighten($accent-color, 7%);
            }
          }
        }
      }

      .cart {
        position: relative;
        padding-right: 9px;

        .badge {
          position: absolute;
          top: -2px;
          right: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          overflow: hidden;
          background: linear-gradient(
            to bottom,
            lighten($badge-color, 5%),
            $badge-color
          );
          box-shadow: 0px 1px 6px 1px $badge-color;
          font-size: 0.875rem;
          color: white;
          font-weight: 500;
          transform: scale(0);

          &.show {
            animation: showBadge 200ms forwards 1000ms;
          }

          @keyframes showBadge {
            0% {
              transform: scale(0);
            }
            85% {
              transform: scale(1.1);
            }
            100% {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .menu-options {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      padding: 0px 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
        to bottom right,
        lighten($primary-color, 5%),
        $primary-color
      );

      @media screen and (max-width: 1280px) {
        padding: 0px;
      }

      @media screen and (max-width: 1199px) {
        // display: none;
      }

      .navbar-collapse {
        width: 100%;
        max-width: 1600px;
        height: 100%;
        .navbar-nav {
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
          position: relative;

          &.centered {
            justify-content: center;

            .highlight {
              background-color: transparent !important;
            }
          }

          .left-links,
          .right-links {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            position: static;

            li {
              height: 100%;
              position: static;

              a.nav-link {
                display: flex;
                align-items: center;
                justify-content: center;
                // background-color: red;
                color: white;
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: -0.01em;
                text-decoration: none;
                text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                padding: 0px 15px;
                height: 100%;
                background: transparentize(white, 1);
                transition: 200ms;
                position: relative;
                overflow: hidden;
                outline: none;

                &:after {
                  position: absolute;
                  content: "";
                  bottom: -1px;
                  left: calc(50% - 18px);
                  width: 36px;
                  height: 0px;
                  background-color: white;
                  border: none;
                  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                  z-index: 1001;
                  transition: 200ms;
                  margin: 0px;
                }

                &:hover,
                &:focus {
                  background-color: transparentize(white, 0.7);
                }

                &.highlight {
                  background-color: transparentize(white, 0.7);

                  &:hover,
                  &:focus {
                    background-color: transparentize(white, 0.5);
                  }
                }
              }

              .dropdown-menu {
                width: 100%;
                height: 0px;
                border: none;
                border-radius: 0px;
                box-shadow: 0px 6px 30px -5px rgba(0, 0, 0, 0);
                opacity: 0;
                padding: 0;
                display: flex;
                flex-flow: row;
                align-items: stretch;
                justify-content: space-between;
                overflow: hidden;
                transition: 100ms;

                &.show {
                  padding: 25px 30px;
                  height: auto;
                  transform: translateY(0px);
                  opacity: 1;
                  box-shadow: 0px 6px 30px -5px rgba(0, 0, 0, 0.25);
                }

                > a {
                  display: block;
                  height: auto;
                  color: $third-color;
                }

                .links {
                  display: flex;
                  flex-flow: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  width: 100%;

                  .category-content {
                    margin-bottom: 40px;

                    p.category-name {
                      font-size: 1.75rem;
                      color: #3b3b3b;
                      text-transform: uppercase;
                      letter-spacing: -0.02em;
                      margin-bottom: 5px;
                      line-height: 1;
                      font-weight: 700;
                    }

                    a.category-link {
                      font-size: 1rem;
                      font-weight: 400;
                      letter-spacing: -0.01em;
                      color: $accent-color;
                      padding-bottom: 1px;
                      position: relative;

                      &:after {
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: 0;
                        width: 0%;
                        height: 2px;
                        transition: 200ms ease-out;
                        background-color: transparentize($accent-color, 0.3);
                      }

                      &:hover,
                      &:focus {
                        text-decoration: none;
                        outline: none;

                        &:after {
                          width: 100%;
                        }
                      }
                    }
                  }

                  .subcategories {
                    margin: 0px;
                    padding: 0px;
                    display: grid;
                    width: 100%;
                    grid-template-columns: repeat(
                      auto-fill,
                      minmax(250px, 1fr)
                    );
                    grid-auto-rows: 1fr;
                    grid-auto-flow: row;
                    grid-gap: 0.25rem;
                    list-style-type: none;

                    @media screen and (max-width: 1400px) {
                      grid-template-columns: repeat(
                        auto-fill,
                        minmax(190px, 1fr)
                      );
                    }

                    a {
                      margin: 0;
                      font-size: 0.875rem;
                      color: #7d7d7d;
                      line-height: 1em;
                      transition: 250ms;
                      display: inline-block;
                      max-width: 160px;
                      font-weight: 500;
                      padding-bottom: 2px;
                      position: relative;

                      &:after {
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: 0;
                        width: 0%;
                        height: 1px;
                        transition: 200ms ease-out;
                        background-color: transparentize($accent-color, 0.3);
                      }

                      &:hover,
                      &:focus {
                        text-decoration: none;
                        color: $accent-color;
                        outline: none;

                        &:after {
                          width: 100%;
                        }
                      }
                    }
                  }

                  .more-categories {
                    margin: 0px !important;
                    padding: 0px;
                    display: grid;
                    width: 100%;
                    grid-template-columns: repeat(
                      auto-fill,
                      minmax(250px, 1fr)
                    );
                    grid-auto-rows: 1fr;
                    grid-auto-flow: row;
                    grid-gap: 0.25rem;
                    list-style-type: none;

                    .hidden-category {
                      margin-bottom: 60px;

                      > a:not(.hidden-category-link) {
                        margin: 0;
                        font-size: 1.125rem;
                        color: #545454;
                        line-height: 1em;
                        transition: 250ms;
                        display: inline-block;
                        max-width: 160px;
                        font-weight: 600;
                        padding-bottom: 2px;
                        position: relative;
                        text-transform: uppercase;

                        &:hover,
                        &:focus {
                          text-decoration: none !important;
                          color: darken(#545454, 15%);
                          outline: none;
                        }
                      }

                      ul.more-subcategories {
                        list-style: none;
                        margin: 0;
                        padding: 5px 0px 0px;
                        position: relative;

                        @media screen and (min-width: 1200px) {
                          margin-bottom: 10px;
                        }

                        &:before {
                          position: absolute;
                          content: "";
                          left: 0;
                          top: 10px;
                          width: 1px;
                          height: calc(100% - 0.8em);
                          background-color: rgba(0, 0, 0, 0.1);
                        }

                        > li {
                          margin-bottom: 5px;

                          a {
                            color: #a0a0a0;
                            display: inline-block;
                            transition: 150ms;
                            position: relative;
                            padding-left: 10px;

                            &:before {
                              position: absolute;
                              content: "";
                              left: 0px;
                              top: 7%;
                              height: 0%;
                              width: 2px;
                              background: linear-gradient(
                                to bottom,
                                lighten($accent-color, 7%),
                                lighten($accent-color, 3%)
                              );
                              transition: 300ms ease-out 50ms;
                            }

                            &:hover,
                            &:focus {
                              text-decoration: none;
                              text-decoration: none;
                              color: $accent-color;
                              outline: none;

                              &:before {
                                height: 86%;
                              }
                            }
                          }
                        }
                      }

                      a.hidden-category-link {
                        color: $accent-color;
                        outline: none;
                        margin-top: 2px;
                        font-size: 1rem;
                        padding-bottom: 2px;
                        position: relative;

                        &:before {
                          position: absolute;
                          content: "";
                          bottom: 0;
                          left: 0;
                          width: 0%;
                          height: 1px;
                          background-color: lighten($accent-color, 5%);
                          transition: 300ms ease-out;
                        }

                        &:hover,
                        &:focus {
                          text-decoration: none;
                          outline: none;

                          &:before {
                            width: 100%;
                          }
                        }
                      }
                    }
                  }
                }

                .banner-container {
                  max-width: 300px;

                  img {
                    width: 300px;
                  }
                }
              }

              &.right-link {
                justify-self: flex-end;
              }

              &.show {
                a {
                  &:after {
                    height: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1199px) {
    .navbar-elements {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: 10px;

      .custom-toggler {
        width: 40px;
        height: 40px;
        margin: 0px 5px;
        border-radius: 0px;
        border: none;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
        padding: 11px 0px;

        &:hover,
        &:active {
          outline: none;
        }

        .stick {
          width: 25px;
          height: 2px;
          background: linear-gradient(
            to right,
            lighten($accent-color, 15%),
            $accent-color
          );
          border-radius: 3px;
          transition: 150ms ease-out;
          transform-origin: left;

          &.mid {
            transform: translateX(5px);
            opacity: 0;
          }

          &.top {
            transform: rotate(40deg);
          }

          &.bot {
            transform: rotate(-40deg);
          }
        }

        &.collapsed {
          .stick.mid {
            transform: translateX(-5px);
            opacity: 1;
          }

          .stick.top {
            transform: rotate(0deg);
          }

          .stick.bot {
            transform: rotate(0deg);
          }
        }
      }

      .brand {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .icon-container {
        justify-content: flex-end;

        .mobile-search-button {
          margin-right: 30px;
          background-color: transparent;
          border: none;
          opacity: 0;
          transition: 150ms;

          img {
            width: 32px;
          }

          &:hover,
          &:focus {
            outline: none;
          }

          &.show {
            opacity: 1;
          }
        }

        .cart {
          margin: 0px;

          img {
            width: 35px;
          }
        }
      }
    }

    .navbar-collapse {
      position: absolute;
      left: 0;
      width: 100%;
      background-color: white;

      .navbar-nav {
        height: calc((var(--vh, 1vh) * 100) + 40px) !important;
        overflow-y: scroll;
        padding: 15px 15px 120px;

        .login-mobile {
          width: 100%;
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: flex-start;
          padding: 9px 12px;
          background: linear-gradient(
            to bottom right,
            lighten($accent-color, 5%),
            $accent-color
          );
          border-radius: 10px;
          margin-bottom: 15px;

          img {
            height: 45px;
            filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.1));
            margin-right: 10px;
          }

          .text {
            width: 100%;
            height: 80%;
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            justify-content: space-between;

            p.main-text {
              color: white;
              font-weight: 500;
              text-transform: uppercase;
              text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
              font-size: 1rem;
              line-height: 1;
              margin: 0px;
            }

            p.small-text {
              font-size: 0.875rem;
              color: rgba(255, 255, 255, 0.8);
              text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
              line-height: 1;
              margin: 0px;
            }
          }
        }

        .left-links,
        .right-links {
          padding: 0px 3px;

          .nav-item {
            padding: 0px 0px 8px;
            width: 100%;
            margin-bottom: 8px;
            position: relative;

            &:after {
              position: absolute;
              content: "";
              bottom: 0;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: transparentize(#777777, 0.95);
            }

            .nav-link {
              font-size: 1.125rem;
              color: #555555;
              display: flex;
              flex-flow: row;
              align-items: center;
              font-weight: 500;
              letter-spacing: -0.01em;

              &.dropdown-toggle {
                &:after {
                  position: absolute;
                  content: "";
                  width: 16px;
                  height: 8px;
                  background-color: transparent;
                  background-image: url("../img/mobile-arrow.svg");
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  right: 0px;
                  border-top: 0px;
                }
              }
            }

            .dropdown-menu {
              border: none;
              transition: 150ms;

              .links {
                display: flex;
                flex-flow: column-reverse;
                margin-bottom: 10px;

                ul {
                  list-style: none;
                  margin: 0;
                  padding: 7px 10px 0px;
                  position: relative;
                  margin-bottom: 10px;

                  &:before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 10px;
                    width: 1px;
                    height: calc(100% - 0.8em - 3px);
                    background-color: rgba(0, 0, 0, 0.1);
                  }

                  li {
                    margin-bottom: 5px;

                    a {
                      color: #a0a0a0;
                    }
                  }
                }

                .category-content {
                  display: flex;
                  justify-content: center;

                  .category-name {
                    display: none;
                  }

                  .category-link {
                    color: $accent-color;
                  }
                }
              }
            }
          }
        }
      }
    }

    .banner-container {
      display: none;
    }

    .contact-menu {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px 0px;

      .data-wrapper {
        width: 100%;
        max-width: 340px;
        border: 1px solid #a2a2a2;
        padding: 10px 10px 15px;
        border-radius: 7px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;

        p.title {
          font-size: 1.25rem;
          font-weight: 500;
          letter-spacing: -0.01em;
          color: #333;
          line-height: 1;
          margin-bottom: 12px;
          text-align: center;
        }

        .phone-container {
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 30px;
          margin-top: 5px;

          .left-column,
          .right-column {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: flex-start;

            a {
              font-size: 1.125rem;
              font-weight: 600;
              color: lighten($accent-color, 4%);
              text-align: center;
              margin-bottom: 2px;
              line-height: 1;
            }

            p.sec-title {
              font-size: 0.875rem;
              font-weight: 300;
            }
          }

          .sep {
            display: block;
            width: 1px;
            height: 30px;
            background-color: #707070;
            opacity: 0.1;
          }
        }

        .social-container {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: row nowrap;

          a {
            display: block;
            width: 38px;
            height: 38px;
            margin-right: 10px;
            background-position: center;
            background-size: 85%;
            background-repeat: no-repeat;

            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 639px) {
    .navbar-elements {
      width: 100%;
      padding: 0px 10px;
      height: 80px;

      .brand {
        height: 80px;
      }

      .icon-container {
        .mobile-search-button {
          margin-right: 4.5vw;

          img {
            width: 7vw;
            max-width: 34px;
          }
        }

        .cart {
          .badge {
            font-size: 0.75rem;
            width: 15px;
            height: 15px;
          }

          img {
            width: 8vw;
            max-width: 38px;
          }
        }
      }
    }
  }
}
