.navbar-custom {
  width: 100%;
  background-color: $secondary-color;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;

  .navbar-elements {
    width: calc(100% - 90px);
    height: 100px;
    max-width: 1600px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    a.brand {
      img {
        height: 100%;
        max-height: 100px;
      }
    }

    a:focus {
      outline: 1px solid transparentize($accent-color, 0.8);
    }

    form.form-inline {
      width: 50%;
      position: relative;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-end;

      input[type="search"].form-control {
        width: 100%;
        position: relative;
        padding: 7px 20px;
        border-radius: 22px;
        font-size: 1rem;
        font-style: italic;
        font-weight: 400;
        color: #858585;
        letter-spacing: -0.01em;
        height: auto;
        border: none;
        transition: 150ms;

        &:focus {
          box-shadow: 0px 0px 0px 2px
            transparentize(lighten($accent-color, 25%), 0.4);
        }
      }

      button.search-button {
        position: absolute;
        right: 1px;
        height: calc(100% - 2px);
        border-radius: 0px 21px 21px 0px;
        border: none;
        background-color: white;
        padding: 0px 15px;
        outline: none;

        img {
          transition: 150ms;
        }

        &:hover,
        &:focus {
          img {
            filter: $png-color;
          }
        }
      }
    }

    .icon-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      > * {
        margin-right: 40px;

        &:last-child {
          margin-right: 0px;
        }
      }

      .account {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;

        .icon {
          margin-right: 10px;
        }

        .text {
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          justify-content: center;

          p.account-text {
            font-size: 0.875rem;
            text-transform: uppercase;
            color: lighten($accent-color, 5%);
            letter-spacing: -0.02em;
            font-weight: 500;
          }

          .account-link {
            height: 1rem;
            display: flex;
            flex-flow: row;
            align-items: center;

            a,
            span {
              color: $main-text;
              font-size: 0.75rem;
              text-decoration: none;
              transition: 150ms;
            }

            span {
              margin: 0px 0.5ch;
            }

            a:hover,
            a:focus {
              color: lighten($accent-color, 7%);
            }
          }
        }
      }

      .cart {
        position: relative;
        padding-right: 9px;

        .badge {
          position: absolute;
          top: -2px;
          right: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          overflow: hidden;
          background: linear-gradient(
            to bottom,
            lighten($badge-color, 5%),
            $badge-color
          );
          box-shadow: 0px 1px 6px 1px $badge-color;
          font-size: 0.875rem;
          color: white;
          font-weight: 500;
          transform: scale(0);

          &.show {
            animation: showBadge 200ms forwards 1000ms;
          }

          @keyframes showBadge {
            0% {
              transform: scale(0);
            }
            85% {
              transform: scale(1.1);
            }
            100% {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  .menu-options {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      to bottom right,
      lighten($primary-color, 5%),
      $primary-color
    );

    .navbar-collapse {
      width: 100%;
      max-width: 1600px;
      height: 100%;

      .navbar-nav {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .left-links,
        .right-links {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: flex-start;
          height: 100%;
          position: static;

          li {
            height: 100%;
            position: static;

            a.nav-link {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: red;
              color: white;
              font-size: 1rem;
              text-transform: uppercase;
              font-weight: 500;
              letter-spacing: -0.01em;
              text-decoration: none;
              text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
              padding: 0px 15px;
              height: 100%;
              background: transparentize(white, 1);
              transition: 200ms;
              position: relative;
              overflow: hidden;
              outline: none;

              &:after {
                position: absolute;
                content: "";
                bottom: -1px;
                left: calc(50% - 18px);
                width: 36px;
                height: 0px;
                background-color: white;
                border: none;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                z-index: 1001;
                transition: 200ms;
                margin: 0px;
              }

              &:hover,
              &:focus {
                background-color: transparentize(white, 0.7);
              }

              &.highlight {
                background-color: transparentize(white, 0.7);

                &:hover,
                &:focus {
                  background-color: transparentize(white, 0.5);
                }
              }
            }

            .dropdown-menu {
              width: 100%;
              height: 0px;
              border: none;
              border-radius: 0px;
              box-shadow: 0px 6px 30px -5px rgba(0, 0, 0, 0);
              opacity: 0;
              padding: 0;
              display: flex;
              flex-flow: row;
              align-items: stretch;
              justify-content: space-between;
              overflow: hidden;
              
              &.show {
                padding: 25px 30px;
                height: auto;
                transform: translateY(0px);
                opacity: 1;
                box-shadow: 0px 6px 30px -5px rgba(0, 0, 0, 0.25);
              }

              a {
                display: block;
                height: auto;
                color: $third-color;
              }

              .links {
                display: flex;
                flex-flow: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;

                .category-content {
                  margin-bottom: 40px;

                  p.category-name {
                    font-size: 1.75rem;
                    color: #3b3b3b;
                    text-transform: uppercase;
                    letter-spacing: -0.02em;
                    margin-bottom: 5px;
                    line-height: 1;
                    font-weight: 700;
                  }

                  a.category-link {
                    font-size: 1rem;
                    font-weight: 400;
                    letter-spacing: -0.01em;
                    color: $accent-color;
                    padding-bottom: 1px;
                    position: relative;

                    &:after {
                      position: absolute;
                      content: '';
                      left: 0;
                      bottom: 0;
                      width: 0%;
                      height: 2px;
                      transition: 200ms ease-out;
                      background-color: transparentize($accent-color, 0.3);
                    }

                    &:hover, &:focus {
                      text-decoration: none;

                      &:after {
                        width: 100%;
                      }
                    }
                  }
                }

                .subcategories {
                  margin: 0px;
                  padding: 0px;
                  display: grid;
                  width: 100%;
                  grid-template-columns: repeat(4, minmax(160px, 1fr));
                  grid-auto-rows: 1fr;
                  grid-auto-flow: row;
                  grid-gap: 0.25rem;

                  a {
                    margin: 0;
                    font-size: 0.875rem;
                    color: #7d7d7d;
                    line-height: 1em;
                    transition: 250ms;
                    display: inline-block;
                    max-width: 160px;
                    font-weight: 500;
                    padding-bottom: 2px;
                    position: relative;

                    &:after {
                      position: absolute;
                      content: '';
                      left: 0;
                      bottom: 0;
                      width: 0%;
                      height: 1px;
                      transition: 200ms ease-out;
                      background-color: transparentize($accent-color, 0.3);
                    }

                    &:hover,
                    &:focus {
                      text-decoration: none;
                      color: $accent-color;

                      &:after {
                        width: 100%;
                      }
                    }
                  }
                }
              }

              .banner-container {
                width: 100%;
                max-width: 300px;
                background-color: blue;
              }
            }

            &.right-link {
              justify-self: flex-end;
            }

            &.show {
              a {
                &:after {
                  height: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
