@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

// BAC
$primary-color: #0dc70e; 
$secondary-color: #222222;
$third-color: #222222;
$accent-color: #0dc70e;
$main-text: #f7f7f7;
$main-link: #f7f7f7;
$badge-color: #FF1D1D;
$png-color: invert(54%) sepia(57%) saturate(5200%) hue-rotate(90deg) brightness(115%) contrast(90%);

// BSB
// $primary-color: #1f1f1f; 
// $secondary-color: #f7f7f7;
// $third-color: #222222;
// $accent-color: #fa2626;
// $main-text: #222222;
// $main-link: #fa2626;
// $badge-color: #222222;
// $png-color: invert(18%) sepia(68%) saturate(4223%) hue-rotate(350deg) brightness(123%) contrast(96%);


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  // background: darken($accent-color, 20%);
  background: $secondary-color;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, $accent-color, darken($accent-color, 5%));
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom right, lighten($accent-color, 5%), $accent-color);
}

.new-ui {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;

  ::-moz-selection { /* Code for Firefox */
    color: white;
    background: transparentize($accent-color, 0.45);
  }
  
  ::selection {
    color: white;
    background: transparentize($accent-color, 0.45);
  }

  margin: 0px;
  padding: 0px;
  font-size: 16px;

  // ----- temp -------

  .header {
    width: 100%;
    height: 150px;
    background-color: $secondary-color;
    position: relative;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);

    &:after {
      position: absolute;
      content: '';
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 50px;
      background: linear-gradient(to bottom right, lighten($primary-color, 7%), $primary-color);
    }
  }

  

  // ------------------

  * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
  }

  // Slider arrow
  .swiper-arrow {
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: 25;
    box-shadow: 0px 0px 0px 2px rgba(101, 101, 101, 0.65) inset;
    border-radius: 50%;
    background-image: url("../images/slider-arrow.svg");
    background-position-y: center;
    background-position-x: calc(50% + 2px);
    background-size: 30%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0;
    outline: none;

    @media screen and (max-width: 425px) {
      width: 35px !important;
      height: 35px !important;
      box-shadow: none !important;
      background-size: 40%;
      opacity: 0.6;

      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }

  .swiper-custom-button-prev {
    left: 0;
    transform: rotate(180deg);
  }

  .swiper-custom-button-next {
    right: 0;
  }

  .swiper-arrow[tabindex="-1"] {
    cursor: initial;
    width: 0px;
    height: 0px;
    opacity: 0;
    transition: 150ms ease-out;
  }

  .swiper-arrow[tabindex="0"] {
    cursor: initial;
    width: 40px;
    height: 40px;
    opacity: 0.35;
    cursor: pointer;
    transition: 150ms ease-out;

    &:hover,
    &:focus {
      box-shadow: 0px 0px 0px 3px rgba(101, 101, 101, 1) inset;
      opacity: 0.6;
    }
  }

  @import 'navbar';

  .main-container {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    @media screen and (max-width: 1023px) {
      .responsive-hidden-xl {
        display: none;
      }
    }

    @media screen and (max-width: 639px) {
      .responsive-hidden {
        display: none;
      }
    }

    .filter {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0);
      z-index: 500;
      transition: opacity 100ms;
      
      &.show {
        opacity: 1;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
      }
    }

    @import 'brand-slider';
    @import 'main-slider';
    @import 'product-module';
    @import 'parallax';
    @import 'image-grid';
    @import 'newsletter';
    @import 'footer';
  }
}
